<a href="https://colab.research.google.com/github/vanryuji/sqlalchemy/blob/master/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.3)

In [0]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker

In [0]:
# Connecting

engine = create_engine('sqlite:///:memory:', echo=True)

In [0]:
# Declare mapping

Base = declarative_base()

class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (self.name, self.fullname, self.nickname)

In [4]:
# Create schema

print('before creating, tables:', engine.table_names())
Base.metadata.create_all(engine)
print('after creating, tables:', engine.table_names())

2019-05-09 09:52:46,944 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-09 09:52:46,946 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 09:52:46,950 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-05-09 09:52:46,952 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 09:52:46,955 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-05-09 09:52:46,957 INFO sqlalchemy.engine.base.Engine ()
before creating, tables: []
2019-05-09 09:52:46,965 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-05-09 09:52:46,966 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 09:52:46,969 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2019-05-09 09:52:46,970 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 09:52:46,972 INFO sqlalchemy.engine.base.Engine COMMIT
2019-05-09 09:52:46,973 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-05-09 09:52:46,974 INFO sqlalchemy.engine.base.Engine ()
after creating, tables: ['users']

In [5]:
# Creating session

Session = sessionmaker(bind=engine)
session = Session()
print('autocommit:', session.autocommit)

autocommit: False

In [6]:
# Add user

ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')
session.add(ed_user)
session.commit()
our_user = session.query(User).filter_by(name='ed').all()
print(our_user)

2019-05-09 09:55:38,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-09 09:55:38,973 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2019-05-09 09:55:38,974 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edsnickname')
2019-05-09 09:55:38,976 INFO sqlalchemy.engine.base.Engine COMMIT
2019-05-09 09:55:38,978 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-09 09:55:38,981 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ?
2019-05-09 09:55:38,982 INFO sqlalchemy.engine.base.Engine ('ed',)
[<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>]

In [9]:
# Rollback

ed_user = User(name='ed', fullname='Ed Mickey', nickname='edsnickname')
session.add(ed_user)
session.rollback()
our_user = session.query(User).filter_by(name='ed').all()
print(our_user)

2019-05-09 09:57:18,071 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-05-09 09:57:18,079 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-09 09:57:18,083 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ?
2019-05-09 09:57:18,086 INFO sqlalchemy.engine.base.Engine ('ed',)
[<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>]